.navigation{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 1%;
    width: 15%;
}

.logo img{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    text-align: right;
    margin: 2.5%;
}

.menu a{
    text-decoration: none;
    color: #474747;
    
}

.menu a:hover{
    color: #474747;
    transition: .2s;
}