<app-nav-bar></app-nav-bar>

<div class="hero">
    <div class="text">
        <h1>Development 
            done right...</h1>
    </div>
    <div class="hero_img">
        <img src="../../assets/home hero.png" alt="">
    </div>
</div>

<div class="details">
    <div class="left">
        <div class="text">
            <h1>We are a development group aiming
                to develop <span>high quality software 
                </span>and providing <span>best security 
                consultancy</span> for buisnesses 
                around the world</h1>
        </div>
    
        <div class="buttons">
            <a routerLink="/works" id="work_btn"><i class="fa-solid fa-briefcase"></i> WORKS </a>
        </div>
    </div>
    
</div>

<div class="detail_box">
    <h1>DETAILS</h1>
    <h2>BINARY <br>
        TECH</h2>
    <h4>
        <span>FULLSTACK DEVELOPMENT</span>
        <span>UI/UX DESIGN</span>
        <span>PEN. TESTING</span>
    </h4>

    <h4>
        <span>binarytech@gmail.com</span>
        <span>binarytech@github.com</span>
    </h4>
    <div class="d_button">
        <a routerLink="/contacts"><i class="fa-solid fa-phone"></i>  CONTCAT US</a>
    </div>

</div>

<div class="sample_work">
    <div class="work">
        <img src="../../assets/web.png" alt="">
        <h2>Web Projects</h2>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. 
            Felis, sit amet pulvinar nunc, 
            purus cursus interdum.</p>
        <a href="">Read More <i class="fa-solid fa-hand-point-right"></i></a>
    </div>

    <div class="work">
        <img src="../../assets/android.png" alt="">
        <h2>Android Projects</h2>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. 
            Felis, sit amet pulvinar nunc, 
            purus cursus interdum.</p>
        <a href="">Read More <i class="fa-solid fa-hand-point-right"></i></a>
    </div>

    <div class="work">
        <img src="../../assets/pen.png" alt="">
        <h2>Pen. Testing Projects</h2>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. 
            Felis, sit amet pulvinar nunc, 
            purus cursus interdum.</p>
        <a href="">Read More <i class="fa-solid fa-hand-point-right"></i></a>
    </div>
</div>

<app-footer></app-footer>